@use "../../styles/partials/global";
@use "../../styles/partials/resets";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;

.footer {
  &__section {
    background-color: $primaryA;
    padding: 4rem;
    min-height: 18rem;
  }
  &__limit {
    max-width: 980px;
  }
  &__containerA {
    display: block;
  }
  &__containerB {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__block1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  &__icon-block {
    display: flex;
    align-items: center;
  }
  &__icon {
    margin-right: 1rem;
  }
  &__link {
    text-decoration: none;
    color: black;
    font-weight: 600;
  }
  &__link:hover {
    color: $primaryB;
    text-decoration: underline $primaryB;
    font-weight: 700;
  }

  &__block2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6rem;
  }
  &__contact--wrapper {
    display: flex;
  }
  &__email--link {
    color: black;
    text-decoration: none;
  }
  &__email-icon {
    width: 2.4rem;
  }
  &__copy {
    font-size: 1.4rem;
    font-weight: 600;
  }
  &__address-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
    padding-top: 2rem;
    font-weight: 600;
  }
}
.menu {
  &__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    padding-bottom: 2rem;
  }
  &__item--link {
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
    font-weight: 600;
  }
  &__item--link:hover {
    color: $primaryB;
    text-decoration: underline $primaryB;
    font-weight: 700;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.3rem;
  }
}
.brand {
  &__text {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 2rem 0;
  }
  &__link {
    color: black;
  }
}
.chevron {
  width: 2em;
  font-weight: bold;
  size: 4em;
}
