@use "../../styles/partials/global";
@use "../../styles/partials/resets";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;

.homePage {
  &__body {
    width: 100%;
  }
}
.head {
  &__hero {
    max-width: 100%;
    height: 70rem;
    background-image: url("../../assets/images/heroView.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include tablet {
      height: 100rem;
    }
  }
  &__body {
    max-width: 50rem;
    margin: 0 auto 6rem auto;
    font-weight: bold;

    @include tablet {
      max-width: 60rem;
      //   height: 50rem;
    }
  }
  &__title-position {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 10rem;

    @include tablet {
      padding-top: 20rem;
    }
  }

  &__title1 {
    font-size: 5rem;
    // font-family: $font-stack;
    font-weight: 700;
    width: 90%;
    @include tablet {
      font-size: 6rem;
    }
  }
  &__title2 {
    margin-right: 2rem;
    font-size: 3.5rem;
    @include tablet {
      font-size: 4.5rem;
    }
  }
}
.mission {
  &__body {
    height: auto;
    background-color: $primaryC;
    font-family: $font-stack;
    padding: 2rem 1rem 6rem 1rem;
    @include tablet {
      padding: 8rem 2rem;
    }
  }

  &__title {
    margin: 2rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    @include tablet {
      padding-bottom: 2rem;
    }
  }  
  &__feature {
    border-top: 1px solid black;
    margin-top: 1.5rem;
    width: 20rem;
  }
  &__description-title {
    padding-bottom: 1rem;
  }

  &__description {
    text-align: left;
    padding-left: 1rem;
    z-index:2;

    @include tablet {
      padding-left: 2rem;
    }
  }

}
.current {
  &__body {
    height: auto;
    font-family: $font-stack;
    padding: 2rem 1rem 6rem 1rem;
    background-color: $primaryB;
    @include tablet {
      padding: 8rem 2rem;
    }
  }
  &__title {
    margin: 2rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    @include tablet {
      padding-bottom: 2rem;
    }
  }
  &__feature {
    border-top: 1px solid $secondaryA;
    margin-top: 1.5rem;
    width: 20rem;
  }
  &__container--wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  &__text {
    max-width: 46rem;
    margin: 2rem;
  }

  &__imgPhoto {
    max-width: 24rem;
    border-radius: 2px;
    box-shadow: $shadow;
  }
}

.details {
  &__body {
    height: 20rem;
    background-color: $secondaryB;
  }
}
